<div class="container p-4 container-data">
  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          {{#with general}}
            {{#with current}}

              <form action="{{url}}/{{c_id}}" method="POST" id="form">
                <div class="form-group mb-3">
                  <label class="form-label">ID:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="id_office"
                    readOnly
                    id="idForm"
                    value="{{c_id}}"
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="form-label">Nombre:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="Nombre de la oficina"
                    autofocus
                    required=" "
                    value="{{c_name}}"
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="form-label">Dirección:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="address"
                    placeholder="Dirección de la oficina"
                    required=" "
                    value="{{c_address}}"
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="form-label">Localidad:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="location"
                    placeholder="Localidad de la oficina"
                    required=" "
                    value="{{c_town}}"
                  />
                </div>
                <div class="form-group mb-3">
                  <label class="form-label">Provincia:</label>
                  <input
                    type="text"
                    class="form-control"
                    name="province"
                    placeholder="Provincia de la oficina"
                    required=" "
                    value="{{c_province}}"
                  />
                </div>
                <div
                  class="form-group d-flex gap-3 flex-row-reverse form-buttons"
                >
                  <button
                    class="btn btn-success w-100"
                    id="btn-save"
                  >Guardar</button>
                  <button class="btn btn-warning w-100">Limpiar</button>
                  <button
                    class="btn btn-danger w-100"
                    id="btn-delete"
                  >Eliminar</button>
                </div>
              </form>
            {{/with}}
          {{/with}}
        </div>
      </div>
    </div>

    <div class="col-md-7 card-container">
      <div class="card-body container-items">

        {{#with general}}
          {{#each offices}}
            <a
              href="/links/office/find/{{id_office}}"
              class="d-flex mb-4 text-dark"
            >
              <div class="container d-flex flex-container-data">
                <div class="item-container">
                  <label><b>ID:</b></label>
                  <div
                    class="grid-item-value id"
                    id="idItem"
                  >{{id_office}}</div>
                </div>
                <div class="item-container">
                  <label><b>Nombre:</b></label>
                  <div class="grid-item-value address">{{name}}</div>
                </div>
                <div class="item-container">
                  <label><b>Dirección:</b></label>
                  <div class="grid-item-value address">{{address}}</div>
                </div>
                <div class="item-container">
                  <label><b>Localidad:</b></label>
                  <div class="grid-item-value town">{{town}}</div>
                </div>
                <div class="item-container">
                  <label><b>Provincia:</b></label>
                  <div class="grid-item-value province">{{province}}</div>
                </div>
              </div>
            </a>
          {{/each}}
        {{/with}}
      </div>
    </div>
  </div>
</div>

<script src="/js/office.js"></script>
<script src="/js/general.js"></script>